/* Mobile-first */

@font-face{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500, 700;
    
}

@font-face{
    font-family:'Fraunces';
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-weight: 700;
}

/* Reset settings */

html{
    padding: 0;
    margin: 0;
}

/* Variables area */

:root{
    /* Colors */
    --main-color:hsl(30, 38%, 92%);
    --white:hsl(0, 0%, 100%);
    --gray:hsl(228, 12%, 48%);
    --black:hsl(212, 21%, 14%);
    --dark-green:hsl(158, 42%, 18%);
    --light-green:hsl(158, 36%, 37%)
}

/* Global styling area */

html{
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--gray);
    text-overflow: balance;
}

h1{
    font-family:'Fraunces';
    font-size: 2rem;
    line-height: normal;
    color: var(--black);
}

p{
    font-size: 0.8rem;
    line-height: 1.3rem;
}

/* Local styling area */

body{
    box-sizing: border-box;
    background-color: var(--main-color)
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 70%;
    height: auto;
    background-color: var(--white);
    margin: 13% auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-sizing: border-box;
    border-radius: 1rem;
    line-height: 0;
}

.main_section{
    box-sizing: border-box;
    max-width: 100%;
}

.main_section_picture img{
    object-fit: cover;
    min-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
}

.about_product{
    box-sizing: border-box;
    margin: 0;
    padding: 5vh;
}

.product{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    height:2.5rem;
    margin-block: 1rem;
}

.price h1{
    color: var(--light-green);
}




.attribution{
    display: none;
}

/* Adaptive area */

@media (max-width:239px){
        main{
        width: 90%;
        height: 68vh;
        background-color: var(--white);
        margin: 40% auto;
        display: grid;
        grid-template-rows: 1fr 3fr;
        box-sizing: border-box;
        border-radius: 1rem;
        line-height: 0;
    }

    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
    }

    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 0 5% 3%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    button{
        width: 100%;
        height:12%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-bottom: 0;
    }
    button img{
        display: none;
    }
    .price s{
        display: none;
    }
}

@media (max-width: 374px) and (min-width: 240px){
    main{
        width: 90%;
        height: 65vh;
        background-color: var(--white);
        margin: 40% auto;
        display: grid;
        grid-template-rows: 1fr 3fr;
        box-sizing: border-box;
        border-radius: 1rem;
        line-height: 0;
    }

    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
    }

    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 0 5% 3%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    button{
        width: 100%;
        height:12%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-bottom: 0;
    }
    button img{
        display: none;
    }
    .price s{
        display: none;
    }
}

@media (max-width: 430px) and (min-width: 375px){
    main{
        width: 90%;
        height: 68vh;
        background-color: var(--white);
        margin: 35% auto;
        display: grid;
        grid-template-rows: 1fr 3fr;
        box-sizing: border-box;
        border-radius: 1rem;
        line-height: 0;
    }

    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
    }

    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 0 5% 3%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    button{
        width: 100%;
        height:15%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-bottom: 0;
    }
    button img{
        padding-inline: 1rem;
    }
    
}

@media (max-width: 575px) and (min-width: 430px){
    main{
        width: 80%;
        height: 75vh;
        background-color: var(--white);
        margin: 20% auto;
        display: grid;
        grid-template-rows: 1fr 3fr;
        box-sizing: border-box;
        border-radius: 1rem;
        line-height: 0;
    }

    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
    }

    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 0 5% 3%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    button{
        width: 100%;
        height:15%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-bottom: 0;
    }
    button img{
        padding-inline: 1rem;
    }
    
}

@media (max-width: 767px) and (min-width: 576px){
    main{
        width: 70%;
        height: 80vh;
        background-color: var(--white);
        margin: 13% auto;
        display: grid;
        grid-template-rows: 1fr 3fr;
        box-sizing: border-box;
        border-radius: 1rem;
        line-height: 0;
    }

    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
    }

    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 0 5%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    button{
        width: 100%;
        height:15%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
    }
    button img{
        padding-inline: 1rem;
    }
}

/* Horizontal part */

@media (max-width: 991px) and (min-width: 768px){
    h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    
    main{
        margin-top: 20%;
        width: 70%;
        height:50vh;
        grid-template-columns: 1fr 1fr;
        border-radius: 0.5rem;
    }
    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: 0;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 10%;
        row-gap: 2rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 5%;
    }
    .about_product:first-child{
        margin-top: 0;
    }
    .about_product:last-child{
        margin-bottom: 0;
    }
    button{
        width: 100%;
        height:13%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
    }
    button img{
        padding-inline: 1rem;
    }

}

@media (max-width: 1440px) and (min-width: 992px){
    h1{
        font-size: 1.9rem;
        line-height: 1.7rem;
    }

    main{
        margin-top: 20%;
        width: 50%;
        height:50vh;
        grid-template-columns: 1fr 1fr;
        border-radius: 0.5rem;
    }
    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: 0;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .about_product{
        box-sizing: content-box;
        margin: 0;
        padding: 10%;
        row-gap: 1rem;
    }
    .about_product>*{
        padding: 0;
        margin-block: 6%;
    }
    .about_product:first-child{
        margin-top: 0;
    }
    .about_product:last-child{
        margin-bottom: 0;
    }
    button{
        width: 100%;
        height:13%;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-bottom: 0;
    }
    button img{
        padding-inline: 1rem;
    }
}

@media (min-width:1440px){
    h1{
        font-size: 1.8rem;
        line-height: 1.7rem;
    }

    main{
        margin-top: 13%;
        width: 30%;
        height:45vh;
        grid-template-columns: 1fr 1fr;
        border-radius: 0.5rem;
        align-items: center;
    }
    .main_section_picture img{
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: 45vh;
        margin: 0;
        padding: 0;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .about_product{
        margin: 0;
        padding: 8%;
        row-gap: 1.2rem;
    }
    .about_product>*{
        padding: 0;
    }
    .price{
        margin-block: 1rem;
    }
    button{
        width: 95%;
        height:5vh;
        background-color: var(--light-green);
        border:none;
        border-radius: 0.5rem;
        color: var(--white);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
        margin-inline: auto;
        margin-bottom: 0;
    }
    button img{
        padding-inline: 1rem;
    }
}